:root {
  --color-bg-primary: #c3daed;
  --color-text-primary: #000;
  --color-active-link: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.layout {
  display: flex;
  height: calc(100% - 64px);
  margin-top: 64px;
}

.custom-header {
  background-color: var(--color-bg-primary);
  padding: 0 20px;
  height: 64px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  .logo-container {
    display: flex;
    align-items: center;
    height: 100%;

    .logo {
      height: 50px;
      margin: 10px 20px;
    }
  }
}

.sidebar {
  width: 250px;
  background-color: var(--color-bg-primary);
  height: calc(100% - 64px);
  position: fixed;
  left: 0;
  top: 64px;
  padding-top: 20px;
  overflow-y: auto;

  ul {
    list-style: none;
    padding: 20px;
    margin: 0;
  }

  li {
    margin: 15px 0;
    font-size: 16px;
  }

  a {
    text-decoration: none;
    color: var(--color-text-primary);
    padding: 10px;
    display: block;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &.active-link {
      background-color: var(--color-active-link);
      color: var(--color-text-primary);
      font-weight: bold;
    }
  }
}

.nav-item {
  display: flex;
  align-items: center;

  .nav-icon {
    margin-right: 10px;
    font-size: 1.2em;
  }

  .nav-text {
    font-size: 16px;
  }
}

.content {
  flex: 1;
  margin-left: 250px;
  padding: 20px;
  overflow-y: auto;

  .table {
    padding: 20px;

    .title-container {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
    }
  }
}

.title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .title {
    font-size: 24px;
    font-weight: bold;
  }

  .create-button {
    margin-left: auto;
  }
}

.form-item-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;

  .button-spacing {
    margin-right: 10px;
  }
}
